// app global css in SCSS form

* {
  font-family: "Lato", sans-serif;
}
.content p {
  font-size: 18px;
  line-height: 30px;
}
.q-page.container i {
  font-size: 40px;
}
.q-page-container {
  background-color: #f9f8f3;
}

.container {
  max-width: 1080px;
  margin: 0 auto 0;
}

// Mainnav

.dlj_mainnav {
  background-color: #f9f8f3;
  border-bottom: 4px solid orange;
}

.dlj_mainnav .q-hoverable:hover > .q-focus-helper {
  background: transparent !important;
}

// Hero

.hero {
  padding: 80px 0;
  // background-color: #f9f8f3;
  background: url(/public/image/hero.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f9f8f3;
}
.hero .cta {
  max-width: 600px;
  margin: 0 auto 0;
  padding: 100px 0;
}
.hero .cta h1 {
  font-size: 50px;
  line-height: 55px;
}
.hero .cta p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px;
}

.fth_herocta {
  border: 1px solid #f9f8f3;
  border-radius: 10px;
}

.dlj_imggrey img {
  filter: grayscale(100%); /* Standard */
  -webkit-filter: grayscale(100%); /* Webkit */
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); /* Firefox4-34*/
  filter: gray;  /* IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.dlj_imggrey img:hover {
  -webkit-filter: none;
  filter:none;
}

.homefitur {
  max-width: 900px;
  margin: 0 auto 0;
}

.homefitur p {
  font-size: 18px;
  color: #666;
}
.homefitur {
  padding: 100px 0;
}

.homefitur h3 {
  padding-top: 20px;
  line-height: 0px;
}
